body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 2em;
}

.wheels {
  display: flex;
  justify-content: space-between;
  gap: 1px;
  margin: 1dvh 0;
  flex-wrap: wrap; /* Allow wrapping for better layout on small screens */
}

.wheel {
  max-width: 25vw;
  flex: 1 1 40%; /* Adjusts to 40% of the container, allows flexibility */
}

.wheel p {
  top: -15%;
  left: 37.5%;
  max-width: 40dvw;
  text-align: center;
  color: #009882;
  font-size: 18pt;
  font-family: Arial, Helvetica, sans-serif;
}

:where(.wheel) {
  --_items: 50;
  all: unset;
  aspect-ratio: 1 / 1;
  container-type: inline-size;
  direction: ltr;
  display: grid;
  position: relative;
  width: 33dvw;

  & > * { position: absolute; }

  button {
    aspect-ratio: 1 / 1;
    background: hsla(0, 0%, 100%, .8);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 5cqi;
    place-self: center;
    width: 20cqi;
  }

  ul {
    all: unset;
    clip-path: inset(0 0 0 0 round 50%);
    display: grid;
    inset: 0;
    place-content: center start;

    li {
      align-content: center;
      aspect-ratio: 1 / calc(2 * tan(180deg / var(--_items)));
      background: hsl(calc(360deg / var(--_items) * calc(var(--_idx))), 100%, 75%);
      clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
      display: grid;
      font-size: 2cqi;
      grid-area: 1 / -1;
      padding-left: 1ch;
      rotate: calc(360deg / var(--_items) * calc(var(--_idx) - 1));
      transform-origin: center right;
      user-select: none;
      width: 50cqi;

      &:nth-of-type(1) { --_idx: 1; }
    &:nth-of-type(2) { --_idx: 2; }
    &:nth-of-type(3) { --_idx: 3; }
    &:nth-of-type(4) { --_idx: 4; }
    &:nth-of-type(5) { --_idx: 5; }
    &:nth-of-type(6) { --_idx: 6; }
    &:nth-of-type(7) { --_idx: 7; }
    &:nth-of-type(8) { --_idx: 8; }
    &:nth-of-type(9) { --_idx: 9; }
    &:nth-of-type(10) { --_idx: 10; }
    &:nth-of-type(11) { --_idx: 11; }
    &:nth-of-type(12) { --_idx: 12; }
    &:nth-of-type(13) { --_idx: 13; }
    &:nth-of-type(14) { --_idx: 14; }
    &:nth-of-type(15) { --_idx: 15; }
    &:nth-of-type(16) { --_idx: 16; }
    &:nth-of-type(17) { --_idx: 17; }
    &:nth-of-type(18) { --_idx: 18; }
    &:nth-of-type(19) { --_idx: 19; }
    &:nth-of-type(20) { --_idx: 20; }
    &:nth-of-type(21) { --_idx: 21; }
    &:nth-of-type(22) { --_idx: 22; }
    &:nth-of-type(23) { --_idx: 23; }
    &:nth-of-type(24) { --_idx: 24; }
    &:nth-of-type(25) { --_idx: 25; }
    &:nth-of-type(26) { --_idx: 26; }
    &:nth-of-type(27) { --_idx: 27; }
    &:nth-of-type(28) { --_idx: 28; }
    &:nth-of-type(29) { --_idx: 29; }
    &:nth-of-type(30) { --_idx: 30; }
    &:nth-of-type(31) { --_idx: 31; }
    &:nth-of-type(32) { --_idx: 32; }
    &:nth-of-type(33) { --_idx: 33; }
    &:nth-of-type(34) { --_idx: 34; }
    &:nth-of-type(35) { --_idx: 35; }
    &:nth-of-type(36) { --_idx: 36; }
    &:nth-of-type(37) { --_idx: 37; }
    &:nth-of-type(38) { --_idx: 38; }
    &:nth-of-type(39) { --_idx: 39; }
    &:nth-of-type(40) { --_idx: 40; }
    &:nth-of-type(41) { --_idx: 41; }
    &:nth-of-type(42) { --_idx: 42; }
    &:nth-of-type(43) { --_idx: 43; }
    &:nth-of-type(44) { --_idx: 44; }
    &:nth-of-type(45) { --_idx: 45; }
    &:nth-of-type(46) { --_idx: 46; }
    &:nth-of-type(47) { --_idx: 47; }
    &:nth-of-type(48) { --_idx: 48; }
    &:nth-of-type(49) { --_idx: 49; }
    &:nth-of-type(50) { --_idx: 50; }
    &:nth-of-type(51) { --_idx: 51; }
    }
  }
}


:where(#kwaliteiten) {
  --_items: 40;
  all: unset;
  aspect-ratio: 1 / 1;
  container-type: inline-size;
  direction: ltr;
  display: grid;
  position: relative;
  width: 33dvw;

  & > * { position: absolute; }

  button {
    aspect-ratio: 1 / 1;
    background: hsla(0, 0%, 100%, .8);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 5cqi;
    place-self: center;
    width: 20cqi;
  }

  ul {
    all: unset;
    clip-path: inset(0 0 0 0 round 50%);
    display: grid;
    inset: 0;
    place-content: center start;

    li {
      align-content: center;
      aspect-ratio: 1 / calc(2 * tan(180deg / var(--_items)));
      background: hsl(calc(360deg / var(--_items) * calc(var(--_idx))), 100%, 75%);
      clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
      display: grid;
      font-size: 2cqi;
      grid-area: 1 / -1;
      padding-left: 1ch;
      rotate: calc(360deg / var(--_items) * calc(var(--_idx) - 1));
      transform-origin: center right;
      user-select: none;
      width: 50cqi;

      &:nth-of-type(1) { --_idx: 1; }
    &:nth-of-type(2) { --_idx: 2; }
    &:nth-of-type(3) { --_idx: 3; }
    &:nth-of-type(4) { --_idx: 4; }
    &:nth-of-type(5) { --_idx: 5; }
    &:nth-of-type(6) { --_idx: 6; }
    &:nth-of-type(7) { --_idx: 7; }
    &:nth-of-type(8) { --_idx: 8; }
    &:nth-of-type(9) { --_idx: 9; }
    &:nth-of-type(10) { --_idx: 10; }
    &:nth-of-type(11) { --_idx: 11; }
    &:nth-of-type(12) { --_idx: 12; }
    &:nth-of-type(13) { --_idx: 13; }
    &:nth-of-type(14) { --_idx: 14; }
    &:nth-of-type(15) { --_idx: 15; }
    &:nth-of-type(16) { --_idx: 16; }
    &:nth-of-type(17) { --_idx: 17; }
    &:nth-of-type(18) { --_idx: 18; }
    &:nth-of-type(19) { --_idx: 19; }
    &:nth-of-type(20) { --_idx: 20; }
    &:nth-of-type(21) { --_idx: 21; }
    &:nth-of-type(22) { --_idx: 22; }
    &:nth-of-type(23) { --_idx: 23; }
    &:nth-of-type(24) { --_idx: 24; }
    &:nth-of-type(25) { --_idx: 25; }
    &:nth-of-type(26) { --_idx: 26; }
    &:nth-of-type(27) { --_idx: 27; }
    &:nth-of-type(28) { --_idx: 28; }
    &:nth-of-type(29) { --_idx: 29; }
    &:nth-of-type(30) { --_idx: 30; }
    &:nth-of-type(31) { --_idx: 31; }
    &:nth-of-type(32) { --_idx: 32; }
    &:nth-of-type(33) { --_idx: 33; }
    &:nth-of-type(34) { --_idx: 34; }
    &:nth-of-type(35) { --_idx: 35; }
    &:nth-of-type(36) { --_idx: 36; }
    &:nth-of-type(37) { --_idx: 37; }
    &:nth-of-type(38) { --_idx: 38; }
    &:nth-of-type(39) { --_idx: 39; }
    &:nth-of-type(40) { --_idx: 40; }
    }
  }
}

.kwali {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.wheel {
  max-width: 25dvw;
}

#result {
  margin-top: 0.2%;
  margin-bottom: 3%;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.content-wrapper {
  flex: 1; /* Fills remaining space, pushing footer to the bottom */
}

.footer {
  padding: 5px;
  background-color: #e8e8e8;
  color: #000000;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  overflow-x: hidden;
}

@media (max-width: 720px) {

body {
  margin: 2em;
  overflow-x: hidden;
  justify-content: center;
}  

.whole {
  display: grid; /* Use grid layout */
  grid-template-columns: 1fr; /* Create a single column */
  gap: 5%;
}

.wheels, .kwali {
  display: grid; /* Use grid layout */
  grid-template-columns: 1fr; /* Create a single column */
  gap: 5%;
}

.kwali {
  margin-top: 20%;
}

  .wheel {
    width: 90%; /* Adjust width for smaller screens */
    max-width: 400px; /* Optional: limit maximum width */
    }

  .wheel p {
    top: -20%;
  }

  .footer {
    display: none;
  }
  
}